<% content_for :body do %>
  <ul id="rates">
    <% @rate_tables.each do |rate_table| %>
      <li>
        <%= link_to rate_table.title, refinery.rates_rate_table_path(rate_table) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render '/refinery/content_page' %>
