<ul>
  <% if ::Refinery::Rates::Admin::RatesController.searchable? %>
    <li>
      <%= render '/refinery/admin/search', :url => refinery.rates_admin_rates_path %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), refinery.new_rates_admin_rate_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? && ::Refinery::Rates::Admin::RatesController.sortable? && ::Refinery::Rates::Rate.many? %>
  <li>
    <%= link_to t('.reorder', :what => "Rates"),
                 refinery.rates_admin_rates_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Rates"),
                 refinery.rates_admin_rates_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>
